<<<<<<< HEAD
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /* --header-height: 3.5rem; */
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* --first-color: hsl(220, 68%, 54%); */
  /* --first-color-lighten: hsl(220, 68%, 97%); */
  /* --title-color: hsl(220, 48%, 28%); */
  /* --text-color: hsl(220, 12%, 45%); */
  /* --body-color: hsl(220, 100%, 99%); */
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-semi-bold: 600;
}

.checkpolicy{
    background-color: white;
    z-index: 100;
   
}
/* first drop down */
.dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
  top: 100%;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #e2e2d8;color: #26284e;}
  
  .dropdown:hover .dropdown-content {display: block;}
  /* inputbox
  
  */
  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    /* height: 50px; */
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #26284e;
    padding-right: 40px;
    color:#000000;
  }
  .input-search::placeholder{
    color:rgba(0, 0, 0, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#a5a5a5 ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }


  /* megadropdown */
  @media screen and (max-width: 1024px) {
    .btn-search:focus ~ .input-search{
      width: fit-content;
      border-radius: 0px;
      background-color: transparent;
      border-bottom:1px solid rgba(0, 0, 0, 0.5);
      transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
  }

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
html{
  overflow-x: hidden;
    box-sizing: border-box;
}

  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #fffff0;
  }

ul {
  list-style: none;
  /* padding-left: 0rem; */
}

a {
  text-decoration: none;
}

.nav-div {
  height: var(--header-height);
}
.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}
.nav__logo i {
  font-size: 1.25rem;
}
.nav__logo:hover {
  color: var(--first-color);
} */
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav__toggle-menu, .nav__toggle-close {
  font-size: 1.25rem;
  color: var(--title-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}
.nav__toggle-close {
  opacity: 0;
}
.nav__logo{
  width: 30%;
}
.nav-no h6{
  font-size: 15PX;
  margin-bottom: 0;
}
@media screen and (max-width: 1000px) {
  .nav__logo img{
    width: 120px;
  }
  .nav-no h6{
    font-size: 10PX;
  }
}

@media screen and (max-width: 1118px) {
  .nav__menu {
    background-color: var(--body-color);
    position: absolute;
    /* left: 0;
    top: 2.5rem; */
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }
  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }
  .dropdown__group {
    padding-left: 1.5rem;
    margin: 1rem;
    
  }
  
}
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}
.nav__link:hover {
  background-color: var(--first-color-lighten);
}

/* Show menu */
.show-menu {
  opacity: 1;
  /* top: 12.5rem; */
  pointer-events: initial;
  padding: 0;
}

/* Show icon */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__button {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}
.dropdown__content, .dropdown__group, .dropdown__list {
  display: grid;
}
.dropdown-alter{
  padding: 50px;
}
.dropdown__container {
  background-color: var(--first-color-lighten);
  height: 0;
  overflow: auto;
  transition: height 0.4s;
  /* padding: 50px; */
  margin: 5px 0;
}


.dropdown__content {
  row-gap: 3.75rem;
}
.dropdown__group {
  /* padding-left: 3.5rem; */
  row-gap: 0.5rem;
  border: 1px solid black;
  /* width: 40vh; */
  /* height: 30vh; */
  padding: 10px;
}
.dropdown__group:first-child {
  margin-top: 1.25rem;
}
.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}
.dropdown__icon i {
  font-size: 2.25rem;
  /* padding-left: 20px; */
  /* color: var(--first-color); */
  color: #26284e;
}
.dropdown__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  color: #26284e;
  /* padding-right: 20px; */
  text-align: end;
}
.dropdown__list {
  row-gap: 0.25rem;
}
/* .dropdown__link {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  transition: color 0.3s;
}
.dropdown__link:hover {
  color: var(--title-color);
} */

/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
    margin: 1rem;
  }
  ul {
    /* list-style: none; */
    padding-left: 0rem;
  }
}
@media only screen and (max-width: 600px) {
  .dropdown-alter{
    padding: 20px;
  }
}
/* For large devices */
@media screen and (min-width: 1118px) {
  /* Nav */
  .nav-div {
    height: calc(var(--header-height) + 2rem);
    /* display: flex;
    justify-content: space-between; */
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    /* column-gap: 3rem; */
    height: 100%;
    justify-content: space-between;
    padding: 15px 0 0;
    /* margin: 0; */
  }
  .nav-div li {
    display: flex;
  }
  .nav__link {
    padding: 0;
  }
  .nav__link:hover {
    background-color: initial;
  }
  /* Dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }
  
  .dropdown__container {
    
    height: max-content;
    position: absolute;
    left: -153px;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown__content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3rem;
    max-width: 930px;
    margin-inline: auto;
  }
  .dropdown__group {
    
    padding: 1rem 0 1rem 10px;
    /* align-content: baseline; */
    /* row-gap: 1.25rem; */
  }
  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }
  .dropdown__group {
    padding: 15px;
}
  .dropdown__list {
    row-gap: 0.75rem;
  }
  .dropdown__icon {
    width: 60px;
    height: 60px;
    /* background-color: var(--first-color-lighten); */
    border-radius: 50%;
    display: grid;
    place-items: center;
    /* margin-bottom: 1rem; */
    /* padding-left: 180px; */
  }
  .dropdown__icon i {
    font-size: 3rem;
  }
  
  .dropdown__title {
    font-size: var(--normal-font-size);
  }
  .dropdown__container{
    /* background-color: rgb(198, 204, 204); */

  }
  .dropdown__group {
    
    width: 40vh;
  }
  .dropdown__group:hover{
 background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
  }
  .dropdown__group:hover span{
    
    color: #26284e;
    border: none;
    
  }
  /* .dropdown__group:hover .dropdown__icon{
    color: rgb(224, 224, 68);
  } */
  .dropdown__link {
    font-size: var(--small-font-size);
  }
  .dropdown__link:hover {
    color: var(--first-color);
  }
  .dropdown__item {
    cursor: pointer;
  }
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  .dropdown__item:hover > .dropdown__container {
    top:7rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
    margin: 0;
    
   
  }
  
}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
  .dropdown__item:hover > .dropdown__container {
    top:7rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
    height: -webkit-fill-available;
  }
}
@media screen and (min-width: 1280px) {
  
  /* Dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }
  .dropdown__container {
    
    height: max-content;
    position: absolute;
    left: -153px;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown__content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 4rem;
    max-width: 920px;
    margin-inline: auto;
  }
  .dropdown__group {
    
    padding: 1rem 0 1rem 10px;
    /* align-content: baseline; */
    /* row-gap: 1.25rem; */
    width: 25vw;
  }
  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }
  .dropdown__group {
    padding: 15px;
}
  .dropdown__list {
    row-gap: 0.75rem;
  }
  .dropdown__icon {
    width: 60px;
    height: 60px;
    /* background-color: var(--first-color-lighten); */
    border-radius: 50%;
    display: grid;
    place-items: center;
    /* margin-bottom: 1rem; */
    /* padding-left: 180px; */
  }
  .dropdown__icon i {
    font-size: 3rem;
  }
  
  .dropdown__title {
    font-size: var(--normal-font-size);
  }
  .dropdown__container{
    /* background-color: rgb(198, 204, 204); */

  }
  .dropdown__group:hover{
 background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
  }
  .dropdown__group:hover span{
    
    color: #26284e;
    border: none;
    
  }
  /* .dropdown__group:hover .dropdown__icon{
    color: rgb(224, 224, 68);
  } */
  .dropdown__link {
    font-size: var(--small-font-size);
  }
  .dropdown__link:hover {
    color: var(--first-color);
  }
  .dropdown__item {
    cursor: pointer;
  }
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  .dropdown__item:hover > .dropdown__container {
    top:7rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
    height: -webkit-fill-available;
  }
}

@media screen and (min-width: 1366px) {
  /* Dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }
  .dropdown__container {
    
    height: max-content;
    position: absolute;
    left: -153px;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown__content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 2rem;
    max-width: 950px;
    margin-inline: auto;
  }
  .dropdown__group {
    
    padding: 1rem 0 1rem 10px;
    /* align-content: baseline; */
    /* row-gap: 1.25rem; */
  }
  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }
  .dropdown__group {
    padding: 15px;
}
  .dropdown__list {
    row-gap: 0.75rem;
  }
  .dropdown__icon {
    width: 60px;
    height: 60px;
    /* background-color: var(--first-color-lighten); */
    border-radius: 50%;
    display: grid;
    place-items: center;
    /* margin-bottom: 1rem; */
    /* padding-left: 180px; */
  }
  .dropdown__icon i {
    font-size: 2.3rem;
  }
  
  .dropdown__title {
    font-size: var(--normal-font-size);
  }
  .dropdown__container{
    /* background-color: rgb(198, 204, 204); */

  }
  .dropdown__group:hover{
 background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
  }
  .dropdown__group:hover span{
    
    color: #26284e;
    border: none;
    
  }
  /* .dropdown__group:hover .dropdown__icon{
    color: rgb(224, 224, 68);
  } */
  .dropdown__link {
    font-size: var(--small-font-size);
  }
  .dropdown__link:hover {
    color: var(--first-color);
  }
  .dropdown__item {
    cursor: pointer;
  }
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  .dropdown__item:hover > .dropdown__container {
    top:7rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
    height: -webkit-fill-available;
  }
}
@media screen and (min-width: 1500px) {
  .dropdown__content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 2rem;
    max-width: 1100px;
    margin-inline: auto;
  }
}

@media only screen and (max-width: 1117px) {
  .nav__menu .ul-style {
      flex-direction: column;
      align-items: left;
      margin-left: 20px;
      margin-bottom: 0;
  }
  .nav__menu .ul-style li {
      margin-bottom: 25px;
      margin-top: 25px;
  }
  
  .nav__menu .dropdown-content {
      display: none;
      position: static;
      width: 100%;
      padding-left: 0;
  }
  .dropdown__container{
    padding: 0;
    margin: 0;
  }
  /* .dropdown__container{
    background-color: rgb(198, 204, 204);

  } */
  .dropdown__group:hover{
    background-color: white;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       border: none;
     }
     .dropdown__group:hover span{
       
       color: #26284e;
       border: none;
       
     }
     /* .dropdown__group:hover .dropdown__icon{
       color: rgb(253, 253, 77);
     } */
}





/* Financials */

.contentmain{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3)5%, rgba(0, 0, 0, 0.3) 100%), url(./assets/Financials.jpg);
    height: 78vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    background-position-y: 50%;
}
.contentcon{
  margin: auto;
}

/* Financial Performance */





/* The device with borders */
.smartphone {
  position: relative;
  width: 350px;
  height: 500px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}
@media only screen and (max-width: 380px) {
  .smartphone{
    width: auto;
  }
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 100%;
  height: 100%;
  background: white;
}



/* Physical and Financial Projection table */


table {
  border-collapse: collapse;
  width: 100%;
}
td:first-child {
  text-align: left;
}
th, td {
  /* text-align: left; */
  padding: 8px;
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #26284e;
  color: white;
  text-align: center;
}
tr:hover {
  background-color: #26284e;
color: white;
}



/* internal audit */

.internal-audit-main{
  position: relative;
}
.internal-audit{
  border-radius: 116px 0px 111px 0px;
-webkit-border-radius: 116px 0px 111px 0px;
-moz-border-radius: 116px 0px 111px 0px;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
/* position: absolute;
left : 5%;
top: 14%; */
}
.internal-audit2{
  border-radius: 0px 115px 0px 110px;
-webkit-border-radius: 0px 115px 0px 110px;
-moz-border-radius: 0px 115px 0px 110px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* position: absolute;
  right: 0;
  top: 49%; */
}

/* MIS & IT systems */



.parallax{
  background: url('./assets/paralex.jpg') repeat fixed 100%;
  background-size: cover;
  color: aliceblue;
  background-position-y: 10px;
  position: relative;
}
.svg svg{
  position: absolute;
  top: -1px;
 }

.parallax-1{
  background: url('./parelex\ 2.jpg') repeat fixed 100%;
  background-size: cover;
  color: aliceblue;
  /* background-position-x:; */
 position: relative;
}
.parallax-inner{
  padding-top: 10%;
  padding-bottom: 10%;
}

.parallax-inner{
  background-color: rgba(0, 0, 0, 0.4);
}
.parallax-content{
/* width: 30%; */
/* margin-left: 30px; */
margin-top: 50px;
}

@media only screen and (min-width: 982px) {
  .parallax-content{
    /* margin-top: 100px; */
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 982px) {
  .parallax-content{
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .parallax-content{
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* SWIPER */

.swiper {
  width: 250px;
  height: 450px;
  padding: 50px 0;
}

.swiper-slide {
  position: relative;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  user-select: none;
}

.swiper-slide img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-position {
  object-position: 50% 0%;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0f2027, transparent, transparent);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay span {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 7px 18px;
  margin: 10px;
  border-radius: 20px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.2),
    inset -3px 3px 3px rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(74px);
}

.overlay h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0 0 20px 20px;
}




/* footer */


#six{
  height: auto;
  width: 100%;
  padding: 30px 0;
  background-color: #26284e;
  /* background: linear-gradient(to right,rgb(0,0,0,.8),rgb(0,0,0,.9)),url(./images/5_123dasa1.jpg); */

  
}#six a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 13px;
  margin-bottom: 10px;
}#six p{
  font-size: 13px;
}#six h3{
  font-size: 20px;
  color: #fffff0 ;
  font-weight: 700;
}
@media screen and (max-width: 600px){
  #six{
    text-align: center;
  }
}

.copyright {
  border-top: 1px solid #fffff0;
  text-align: center;
  padding-top: 30px;
}

 .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}



/* iconbar */

.fix {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: end;
  position: fixed;
  right: 0px;
  top: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(3, 3, 172, .6);
  z-index: 100;
}

.fix a {
  padding: 15px;
  border-bottom: 1px white solid;
}

.fix a img {
  height: 25px;
  width: 25px;
  transition: transform 0.5s ease; /* Add smooth transition effect */
}

.round {
  animation: rotation 3s infinite linear; /* Apply rotation animation to all images */
}

@keyframes rotation {
  from {
      transform: rotate(0deg); /* Start rotation from 0 degrees */
  }
  to {
      transform: rotate(360deg); /* End rotation at 360 degrees */
  }
}

.stop-rotation {
  animation-play-state: paused; /* Pause the rotation animation */
}






/* loader */




#preloader{
  width: 80px;
  height: 80px;
  margin: 50px auto 0;
  perspective: 800px;
  position: relative;


}
.outerload{
position: fixed;
  background: #26284e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
#preloader div{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}
#preloader div:nth-child(1){
  border-bottom: 4px solid red;
  left: 0;
  top: 0;
  animation: rotate-one 1s linear infinite;
}
#preloader div:nth-child(2){
  border-right: 4px solid green;
  right: 0;
  top: 0;
  animation: rotate-two 1s linear infinite;
}
#preloader div:nth-child(3){
  border-top: 4px solid blue;
  right: 0;
  bottom: 0;
  animation: rotate-three 1s linear infinite;
}
@keyframes rotate-one{
  0%{ transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100%{ transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); }
}
@keyframes rotate-two{
  0%{ transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100%{ transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); }
}
@keyframes rotate-three{
  0%{ transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100%{ transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); }
}



/* back to top arrow */


#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

  

/* font style */

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}h3{
  font-family: "Poppins", sans-serif ;
  font-weight: 800;
  font-style: normal;
}
p{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
h4{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}h5{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
li{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}





/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  /* padding-bottom: 15px; */
  /* margin-top: 70px; */
}

.section-header::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  left: calc(50% - 50px);
  bottom: 0;
  background: linear-gradient(to left, #26284e, #26284e, #26284e);
  border-radius: 100%;
}

.section-header::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 9px;
  left: calc(50% - 10px);
  bottom: -3px;
  background: #26284e;;
  border-radius: 5px;
}



.section-header1 {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  /* padding-bottom: 15px; */
  /* margin-top: 70px; */
}

.section-header1::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  left: calc(50% - 50px);
  bottom: 0;
  background: linear-gradient(to left, #fffff0, #fffff0, #fffff0);
  border-radius: 100%;
}

.section-header1::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 9px;
  left: calc(50% - 10px);
  bottom: -3px;
  background: #fffff0;;
  border-radius: 5px;
}

=======
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /* --header-height: 3.5rem; */
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /* --first-color: hsl(220, 68%, 54%); */
  /* --first-color-lighten: hsl(220, 68%, 97%); */
  /* --title-color: hsl(220, 48%, 28%); */
  /* --text-color: hsl(220, 12%, 45%); */
  /* --body-color: hsl(220, 100%, 99%); */
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-semi-bold: 600;
}

.checkpolicy{
    background-color: white;
    z-index: 100;
   
}
/* first drop down */
.dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
  top: 100%;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {background-color: #e2e2d8;color: #26284e;}
  
  .dropdown:hover .dropdown-content {display: block;}
  /* inputbox
  
  */
  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    /* height: 50px; */
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #26284e;
    padding-right: 40px;
    color:#000000;
  }
  .input-search::placeholder{
    color:rgba(0, 0, 0, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#a5a5a5 ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }


  /* megadropdown */
  @media screen and (max-width: 1024px) {
    .btn-search:focus ~ .input-search{
      width: fit-content;
      border-radius: 0px;
      background-color: transparent;
      border-bottom:1px solid rgba(0, 0, 0, 0.5);
      transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
  }

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
html{
  overflow-x: hidden;
    box-sizing: border-box;
}

  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #fffff0;
  }

ul {
  list-style: none;
  /* padding-left: 0rem; */
}

a {
  text-decoration: none;
}

.nav-div {
  height: var(--header-height);
}
.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.3s;
}
.nav__logo i {
  font-size: 1.25rem;
}
.nav__logo:hover {
  color: var(--first-color);
} */
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}
.nav__toggle-menu, .nav__toggle-close {
  font-size: 1.25rem;
  color: var(--title-color);
  position: absolute;
  display: grid;
  place-items: center;
  inset: 0;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}
.nav__toggle-close {
  opacity: 0;
}
.nav__logo{
  width: 30%;
}
.nav-no h6{
  font-size: 15PX;
  margin-bottom: 0;
}
@media screen and (max-width: 1000px) {
  .nav__logo img{
    width: 120px;
  }
  .nav-no h6{
    font-size: 10PX;
  }
}

@media screen and (max-width: 1118px) {
  .nav__menu {
    background-color: var(--body-color);
    position: absolute;
    /* left: 0;
    top: 2.5rem; */
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    padding-block: 1.5rem 4rem;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0.5rem;
  }
  .nav__menu::-webkit-scrollbar-thumb {
    background-color: hsl(220, 12%, 70%);
  }
  .dropdown__group {
    padding-left: 1.5rem;
    margin: 1rem;
    
  }
  
}
.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}
.nav__link:hover {
  background-color: var(--first-color-lighten);
}

/* Show menu */
.show-menu {
  opacity: 1;
  /* top: 12.5rem; */
  pointer-events: initial;
  padding: 0;
}

/* Show icon */
.show-icon .nav__toggle-menu {
  opacity: 0;
  transform: rotate(90deg);
}

.show-icon .nav__toggle-close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__button {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.5rem;
  font-weight: initial;
  transition: transform 0.4s;
}
.dropdown__content, .dropdown__group, .dropdown__list {
  display: grid;
}
.dropdown-alter{
  padding: 50px;
}
.dropdown__container {
  background-color: var(--first-color-lighten);
  height: 0;
  overflow: auto;
  transition: height 0.4s;
  /* padding: 50px; */
  margin: 5px 0;
}


.dropdown__content {
  row-gap: 3.75rem;
}
.dropdown__group {
  /* padding-left: 3.5rem; */
  row-gap: 0.5rem;
  border: 1px solid black;
  /* width: 40vh; */
  /* height: 30vh; */
  padding: 10px;
}
.dropdown__group:first-child {
  margin-top: 1.25rem;
}
.dropdown__group:last-child {
  margin-bottom: 1.25rem;
}
.dropdown__icon i {
  font-size: 2.25rem;
  /* padding-left: 20px; */
  /* color: var(--first-color); */
  color: #26284e;
}
.dropdown__title {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  color: #26284e;
  /* padding-right: 20px; */
  text-align: end;
}
.dropdown__list {
  row-gap: 0.25rem;
}
/* .dropdown__link {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  transition: color 0.3s;
}
.dropdown__link:hover {
  color: var(--title-color);
} */

/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .dropdown__group {
    padding-left: 1.5rem;
    margin: 1rem;
  }
  ul {
    /* list-style: none; */
    padding-left: 0rem;
  }
}
@media only screen and (max-width: 600px) {
  .dropdown-alter{
    padding: 20px;
  }
}
/* For large devices */
@media screen and (min-width: 1118px) {
  /* Nav */
  .nav-div {
    height: calc(var(--header-height) + 2rem);
    /* display: flex;
    justify-content: space-between; */
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    display: flex;
    /* column-gap: 3rem; */
    height: 100%;
    justify-content: space-between;
    padding: 15px 0 0;
    /* margin: 0; */
  }
  .nav-div li {
    display: flex;
  }
  .nav__link {
    padding: 0;
  }
  .nav__link:hover {
    background-color: initial;
  }
  /* Dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }
  
  .dropdown__container {
    
    height: max-content;
    position: absolute;
    left: -153px;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown__content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3rem;
    max-width: 930px;
    margin-inline: auto;
  }
  .dropdown__group {
    
    padding: 1rem 0 1rem 10px;
    /* align-content: baseline; */
    /* row-gap: 1.25rem; */
  }
  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }
  .dropdown__group {
    padding: 15px;
}
  .dropdown__list {
    row-gap: 0.75rem;
  }
  .dropdown__icon {
    width: 60px;
    height: 60px;
    /* background-color: var(--first-color-lighten); */
    border-radius: 50%;
    display: grid;
    place-items: center;
    /* margin-bottom: 1rem; */
    /* padding-left: 180px; */
  }
  .dropdown__icon i {
    font-size: 3rem;
  }
  
  .dropdown__title {
    font-size: var(--normal-font-size);
  }
  .dropdown__container{
    /* background-color: rgb(198, 204, 204); */

  }
  .dropdown__group {
    
    width: 40vh;
  }
  .dropdown__group:hover{
 background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
  }
  .dropdown__group:hover span{
    
    color: #26284e;
    border: none;
    
  }
  /* .dropdown__group:hover .dropdown__icon{
    color: rgb(224, 224, 68);
  } */
  .dropdown__link {
    font-size: var(--small-font-size);
  }
  .dropdown__link:hover {
    color: var(--first-color);
  }
  .dropdown__item {
    cursor: pointer;
  }
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  .dropdown__item:hover > .dropdown__container {
    top:7rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
    margin: 0;
    
   
  }
  
}
@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }
  .dropdown__item:hover > .dropdown__container {
    top:7rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
    height: -webkit-fill-available;
  }
}
@media screen and (min-width: 1280px) {
  
  /* Dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }
  .dropdown__container {
    
    height: max-content;
    position: absolute;
    left: -153px;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown__content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 4rem;
    max-width: 920px;
    margin-inline: auto;
  }
  .dropdown__group {
    
    padding: 1rem 0 1rem 10px;
    /* align-content: baseline; */
    /* row-gap: 1.25rem; */
    width: 25vw;
  }
  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }
  .dropdown__group {
    padding: 15px;
}
  .dropdown__list {
    row-gap: 0.75rem;
  }
  .dropdown__icon {
    width: 60px;
    height: 60px;
    /* background-color: var(--first-color-lighten); */
    border-radius: 50%;
    display: grid;
    place-items: center;
    /* margin-bottom: 1rem; */
    /* padding-left: 180px; */
  }
  .dropdown__icon i {
    font-size: 3rem;
  }
  
  .dropdown__title {
    font-size: var(--normal-font-size);
  }
  .dropdown__container{
    /* background-color: rgb(198, 204, 204); */

  }
  .dropdown__group:hover{
 background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
  }
  .dropdown__group:hover span{
    
    color: #26284e;
    border: none;
    
  }
  /* .dropdown__group:hover .dropdown__icon{
    color: rgb(224, 224, 68);
  } */
  .dropdown__link {
    font-size: var(--small-font-size);
  }
  .dropdown__link:hover {
    color: var(--first-color);
  }
  .dropdown__item {
    cursor: pointer;
  }
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  .dropdown__item:hover > .dropdown__container {
    top:7rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
    height: -webkit-fill-available;
  }
}

@media screen and (min-width: 1366px) {
  /* Dropdown */
  .dropdown__button {
    column-gap: 0.25rem;
    pointer-events: none;
  }
  .dropdown__container {
    
    height: max-content;
    position: absolute;
    left: -153px;
    right: 0;
    top: 6.5rem;
    background-color: var(--body-color);
    box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .dropdown__content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 2rem;
    max-width: 950px;
    margin-inline: auto;
  }
  .dropdown__group {
    
    padding: 1rem 0 1rem 10px;
    /* align-content: baseline; */
    /* row-gap: 1.25rem; */
  }
  .dropdown__group:first-child, .dropdown__group:last-child {
    margin: 0;
  }
  .dropdown__group {
    padding: 15px;
}
  .dropdown__list {
    row-gap: 0.75rem;
  }
  .dropdown__icon {
    width: 60px;
    height: 60px;
    /* background-color: var(--first-color-lighten); */
    border-radius: 50%;
    display: grid;
    place-items: center;
    /* margin-bottom: 1rem; */
    /* padding-left: 180px; */
  }
  .dropdown__icon i {
    font-size: 2.3rem;
  }
  
  .dropdown__title {
    font-size: var(--normal-font-size);
  }
  .dropdown__container{
    /* background-color: rgb(198, 204, 204); */

  }
  .dropdown__group:hover{
 background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: none;
  }
  .dropdown__group:hover span{
    
    color: #26284e;
    border: none;
    
  }
  /* .dropdown__group:hover .dropdown__icon{
    color: rgb(224, 224, 68);
  } */
  .dropdown__link {
    font-size: var(--small-font-size);
  }
  .dropdown__link:hover {
    color: var(--first-color);
  }
  .dropdown__item {
    cursor: pointer;
  }
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  .dropdown__item:hover > .dropdown__container {
    top:7rem;
    opacity: 1;
    pointer-events: initial;
    cursor: initial;
    height: -webkit-fill-available;
  }
}
@media screen and (min-width: 1500px) {
  .dropdown__content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 2rem;
    max-width: 1100px;
    margin-inline: auto;
  }
}

@media only screen and (max-width: 1117px) {
  .nav__menu .ul-style {
      flex-direction: column;
      align-items: left;
      margin-left: 20px;
      margin-bottom: 0;
  }
  .nav__menu .ul-style li {
      margin-bottom: 25px;
      margin-top: 25px;
  }
  
  .nav__menu .dropdown-content {
      display: none;
      position: static;
      width: 100%;
      padding-left: 0;
  }
  .dropdown__container{
    padding: 0;
    margin: 0;
  }
  /* .dropdown__container{
    background-color: rgb(198, 204, 204);

  } */
  .dropdown__group:hover{
    background-color: white;
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       border: none;
     }
     .dropdown__group:hover span{
       
       color: #26284e;
       border: none;
       
     }
     /* .dropdown__group:hover .dropdown__icon{
       color: rgb(253, 253, 77);
     } */
}





/* Financials */

.contentmain{
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3)5%, rgba(0, 0, 0, 0.3) 100%), url(./assets/Financials.jpg);
    height: 78vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    background-position-y: 50%;
}
.contentcon{
  margin: auto;
}

/* Financial Performance */





/* The device with borders */
.smartphone {
  position: relative;
  width: 350px;
  height: 500px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}
@media only screen and (max-width: 380px) {
  .smartphone{
    width: auto;
  }
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 100%;
  height: 100%;
  background: white;
}



/* Physical and Financial Projection table */


table {
  border-collapse: collapse;
  width: 100%;
}
td:first-child {
  text-align: left;
}
th, td {
  /* text-align: left; */
  padding: 8px;
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #26284e;
  color: white;
  text-align: center;
}
tr:hover {
  background-color: #26284e;
color: white;
}



/* internal audit */

.internal-audit-main{
  position: relative;
}
.internal-audit{
  border-radius: 116px 0px 111px 0px;
-webkit-border-radius: 116px 0px 111px 0px;
-moz-border-radius: 116px 0px 111px 0px;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
/* position: absolute;
left : 5%;
top: 14%; */
}
.internal-audit2{
  border-radius: 0px 115px 0px 110px;
-webkit-border-radius: 0px 115px 0px 110px;
-moz-border-radius: 0px 115px 0px 110px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  /* position: absolute;
  right: 0;
  top: 49%; */
}

/* MIS & IT systems */



.parallax{
  background: url('./assets/paralex.jpg') repeat fixed 100%;
  background-size: cover;
  color: aliceblue;
  background-position-y: 10px;
  position: relative;
}
.svg svg{
  position: absolute;
  top: -1px;
 }

.parallax-1{
  background: url('./parelex\ 2.jpg') repeat fixed 100%;
  background-size: cover;
  color: aliceblue;
  /* background-position-x:; */
 position: relative;
}
.parallax-inner{
  padding-top: 10%;
  padding-bottom: 10%;
}

.parallax-inner{
  background-color: rgba(0, 0, 0, 0.4);
}
.parallax-content{
/* width: 30%; */
/* margin-left: 30px; */
margin-top: 50px;
}

@media only screen and (min-width: 982px) {
  .parallax-content{
    /* margin-top: 100px; */
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 982px) {
  .parallax-content{
    margin-top: 100px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .parallax-content{
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

/* SWIPER */

.swiper {
  width: 250px;
  height: 450px;
  padding: 50px 0;
}

.swiper-slide {
  position: relative;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  user-select: none;
}

.swiper-slide img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-position {
  object-position: 50% 0%;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #0f2027, transparent, transparent);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay span {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 7px 18px;
  margin: 10px;
  border-radius: 20px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2px -2px 20px rgba(214, 214, 214, 0.2),
    inset -3px 3px 3px rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(74px);
}

.overlay h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0 0 20px 20px;
}




/* footer */


#six{
  height: auto;
  width: 100%;
  padding: 30px 0;
  background-color: #26284e;
  /* background: linear-gradient(to right,rgb(0,0,0,.8),rgb(0,0,0,.9)),url(./images/5_123dasa1.jpg); */

  
}#six a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 13px;
  margin-bottom: 10px;
}#six p{
  font-size: 13px;
}#six h3{
  font-size: 20px;
  color: #fffff0 ;
  font-weight: 700;
}
@media screen and (max-width: 600px){
  #six{
    text-align: center;
  }
}

.copyright {
  border-top: 1px solid #fffff0;
  text-align: center;
  padding-top: 30px;
}

 .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}



/* iconbar */

.fix {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: end;
  position: fixed;
  right: 0px;
  top: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(3, 3, 172, .6);
  z-index: 100;
}

.fix a {
  padding: 15px;
  border-bottom: 1px white solid;
}

.fix a img {
  height: 25px;
  width: 25px;
  transition: transform 0.5s ease; /* Add smooth transition effect */
}

.round {
  animation: rotation 3s infinite linear; /* Apply rotation animation to all images */
}

@keyframes rotation {
  from {
      transform: rotate(0deg); /* Start rotation from 0 degrees */
  }
  to {
      transform: rotate(360deg); /* End rotation at 360 degrees */
  }
}

.stop-rotation {
  animation-play-state: paused; /* Pause the rotation animation */
}






/* loader */




#preloader{
  width: 80px;
  height: 80px;
  margin: 50px auto 0;
  perspective: 800px;
  position: relative;


}
.outerload{
position: fixed;
  background: #26284e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
#preloader div{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}
#preloader div:nth-child(1){
  border-bottom: 4px solid red;
  left: 0;
  top: 0;
  animation: rotate-one 1s linear infinite;
}
#preloader div:nth-child(2){
  border-right: 4px solid green;
  right: 0;
  top: 0;
  animation: rotate-two 1s linear infinite;
}
#preloader div:nth-child(3){
  border-top: 4px solid blue;
  right: 0;
  bottom: 0;
  animation: rotate-three 1s linear infinite;
}
@keyframes rotate-one{
  0%{ transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100%{ transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); }
}
@keyframes rotate-two{
  0%{ transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100%{ transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); }
}
@keyframes rotate-three{
  0%{ transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100%{ transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); }
}



/* back to top arrow */


#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.8);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

  

/* font style */

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}h3{
  font-family: "Poppins", sans-serif ;
  font-weight: 800;
  font-style: normal;
}
p{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
h4{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}h5{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
li{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}





/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  /* padding-bottom: 15px; */
  /* margin-top: 70px; */
}

.section-header::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  left: calc(50% - 50px);
  bottom: 0;
  background: linear-gradient(to left, #26284e, #26284e, #26284e);
  border-radius: 100%;
}

.section-header::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 9px;
  left: calc(50% - 10px);
  bottom: -3px;
  background: #26284e;;
  border-radius: 5px;
}



.section-header1 {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  /* padding-bottom: 15px; */
  /* margin-top: 70px; */
}

.section-header1::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  left: calc(50% - 50px);
  bottom: 0;
  background: linear-gradient(to left, #fffff0, #fffff0, #fffff0);
  border-radius: 100%;
}

.section-header1::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 9px;
  left: calc(50% - 10px);
  bottom: -3px;
  background: #fffff0;;
  border-radius: 5px;
}

>>>>>>> 240664b (grameengroupwebsite)
